:host {
  display: block;
}

.space-y-4 > * + * {
  margin-top: 1rem;
}

.space-y-6 > * + * {
  margin-top: 1.5rem;
}

.space-x-4 > * + * {
  margin-left: 1rem;
}

.h-96 {
  height: 24rem;
}

.hover\:text-gray-800:hover {
  color: #1f2937;
}

.hover\:text-indigo-700:hover {
  color: #4338ca;
} 